<main>
  <% @lists.each do |list| %>
  <p>
    <%= link_to list.name, "/lists/#{list.name}" %>
  </p>
  <% end %>

  <%= form_for @list, url: "/lists" do |f| %>
  <%= f.label "New list name:" %>
    <%= f.text_field :name %>
    <%= f.submit "Add" %>
  <% end %>

  <%= form_tag "/search", method: :get do %>
    <%= text_field_tag(:q, params[:q], placeholder: "Search") %>
    <%= submit_tag "Search" %>
  <% end %>


  <%= link_to "I just want to focus on one thing", "/next" %>

</main>
